.list {
  columns: 1;

  @include breakpoint($breakpoint--narrow) {
    columns: 2;
  }

  @include breakpoint($breakpoint--medium) {
    columns: 4;
  }

  column-gap: 1em;

  .row {
    column-break-inside: avoid;
    margin-bottom: rhythm(1);

    background: white;
    @include adjust-borders(1px solid $grey--light, 0.5);
    border-radius: 0.3em;
  }
}

.empty--list {
  text-align: center;
}
