.list {
  @extend %clearfix;

  columns: 1;

  @include breakpoint($breakpoint--small) {
    columns: 2;
  }

  @include breakpoint($breakpoint--narrow) {
    columns: 3;
  }

  @include breakpoint($breakpoint--medium) {
    columns: 4;
  }

  &.list--empty {
    columns: 1;
  }

  column-gap: 1em;

  .row {
    break-inside: avoid;
    margin-bottom: rhythm(1);

    @include adjust-borders(1px solid $grey--light, 0.5);
    border-radius: 0.3em;

    background: white;
    box-shadow: 0px 1px 2px 0px $grey--light;
  }
}

.list--empty {
  text-align: center;
}
