<div class="l-main">
  <header class="l-header">
    <div class="container">
      <div class="page-title">Recipe search</div>
      <div id="app--header">
        {{{header_markup}}}
      </div>
    </div>
  </header>
  <div class="l-content">
    <div id="app--body" class="container">
      {{{markup_body}}}
    </div>
  </div>
  <script id="app-state" type="application/json">{{{ state }}}</script>
</div>
