<div class="l-main">
  <header>
    <div class="title">Recipe search</div>
    <div id="app--header">
      {{{header_markup}}}
    </div>
  </header>
  <div id="app--body">
    {{{markup_body}}}
  </div>
  <script id="app-state" type="application/json">{{{ state }}}</script>
</div>
