@mixin listening--columns($columns: 2, $margin-top: rhythm(1)) {
  $grid_column_amount: $grids/$columns;

  @for $i from 1 through $columns {
    &:nth-child(#{$columns}n+#{$i}) {
      @include grid-span($grid_column_amount, $grid_column_amount * ($i - 1) + 1);

      @if $i == 1 {
        clear: both;
      }
    }
  }

  &:nth-child(n) {
    margin-top: 0;
  }
  &:nth-child(n+#{$columns + 1}) {
    margin-top: $margin-top;
  }
}
